
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/LoginStyle.css" />
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Sign In</h1>
            <form>
                <div class="input-group">
                    <div class="input-field">
                        <input type="email" id="email" placeholder="Email" />
                    </div>
                    <div class="input-field">
                        <input type="password" id="password" placeholder="Password" />
                    </div>
                    <p>Lost Password <a href="#">Click Here</a></p>
                    <div class="btn-field">
                        <input type="button" value="Sign up" onclick="register()" />
                        <input type="button" value="Sign in" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    function register() {
        window.location.href = '/Account/Register';
    }

    function login() {
        var user = {
            Email: document.getElementById('email').value,
            Password: document.getElementById('password').value
        }

        $ajax({
            type: 'POST',
            url: '/Account/Login',
            data: user,
            success: function (result) {
                console.log(result);
                if (result.result == "Success") {
                    console.log("Logging User....");
                    window.location.href = '/Home/Index';
                }
                //window.location.href = 'AccountController/Login';
                else {
                    console.log("Registration Failed");
                }
            },
            error: function (error) {
                console.log(error);
            }

        });
    }
</script>

