
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/RegisterStyle2.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .errorMessage {
            display: none;
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Sign Up</h1>
            <form method="POST">
                <div class="input-group">
                    <div class="input-field">
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" placeholder="FirstName" />
                    </div>
                    <div class="input-field">
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" placeholder="LastName" />
                    </div>
                    <div class="input-field">
                        <label for="phone">Phone Number</label>
                        <input type="text" id="phone" placeholder="Phone Number" />
                    </div>
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Email" />
                    </div>
                    <div id="emailError" class="errorMessage"></div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Password" />
                    </div>
                    <div class="input-field">
                        <label for="managerName">Manager Name</label>
                        <input type="text" id="managerName" placeholder="Manager Name" />
                    </div>
                    <div class="btn-field">
                        <input type="button" value="Sign up" onclick="registerUser()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>

</script>
<script>
    function registerUser() {
        const fname = document.getElementById('firstname').value
        var user = {
            firstName: document.getElementById('firstname').value,
            LastName: document.getElementById('lastname').value,
            PhoneNum: document.getElementById('phone').value,
            Email: document.getElementById('email').value,
            Password: document.getElementById('password').value,
            ManagerName: document.getElementById('managerName').value,
        };
        $.ajax({
            type: 'POST',
            url: '/Account/Register',
            data: user,
            success: function (result) {
                console.log(result);
                if (result.result == "Success") {
                    console.log("Registering user...");
                    window.location.href = '/Account/Login';
                }
                else {
                    console.log("Registration Failed");
                    if (result.errors) {
                        result.errors.forEach(function (error) {
                            if (error == "emailNotUnique") {
                                console.log("email should be unique");
                                displayError('emailError', 'Email already taken! Enter a unique email.');
                            }
                        });
                    }
                }
            },
            error: function (error) {
                console.log(error);
            }
        }); 
    }
    function displayError(elementId, errorMessage) {
        var errorElement = document.getElementById(elementId);
        errorElement.style.display = "flex";
        errorElement.style.flexDirection = "column";
        errorElement.style.textAlign = "left";
        errorElement.style.paddingBottom = "15px";
        errorElement.innerHTML = errorMessage;
    }
</script>


